# Data Wrangling/Cleansing

### Data
It contains training data for customers along with renewal premium status (Renewed or Not?)

| **Variable**                     | **Definition**                                               |
| -------------------------------- | ------------------------------------------------------------ |
| id                               | Unique ID of the policy                                      |
| perc_premium_paid_by_cash_credit | Percentage of premium amount paid by cash or credit card     |
| age_in_days                      | Age in days of policy holder                                 |
| Income                           | Monthly Income of policy holder                              |
| Count_3-6_months_late            | No of premiums late by 3 to 6 months                         |
| Count_6-12_months_late           | No  of premiums late by 6 to 12 months                       |
| Count_more_than_12_months_late   | No of premiums late by more than 12 months                   |
| application_underwriting_score   | Underwriting Score of the applicant at the time of application (No applications under the score of 90 are insured) |
| no_of_premiums_paid              | Total premiums paid on time till now                         |
| sourcing_channel                 | Sourcing channel for application                             |
| residence_area_type              | Area type of Residence (Urban/Rural)                         |
| premium                          | Monthly premium amount                                       |
| renewal                          | Policy Renewed? (0 - not renewed, 1 - renewed                |

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()

In [19]:
df = pd.read_csv('data/train.csv', index_col='id')
df.shape

(79853, 12)

In [20]:
df.head()

,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
id,,,,,,,,,,,,
110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,3300,1
41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,18000,1
31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,3300,0
19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,9600,1
99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,9600,1

In [25]:
df.columns.values

array(['perc_premium_paid_by_cash_credit', 'age_in_days', 'Income',
       'Count_3-6_months_late', 'Count_6-12_months_late',
       'Count_more_than_12_months_late', 'application_underwriting_score',
       'no_of_premiums_paid', 'sourcing_channel', 'residence_area_type',
       'premium', 'renewal'], dtype=object)

In [22]:
df.dtypes

perc_premium_paid_by_cash_credit    float64
age_in_days                           int64
Income                                int64
Count_3-6_months_late               float64
Count_6-12_months_late              float64
Count_more_than_12_months_late      float64
application_underwriting_score      float64
no_of_premiums_paid                   int64
sourcing_channel                     object
residence_area_type                  object
premium                               int64
renewal                               int64
dtype: object

In [23]:
# df = df.drop(['id'], axis=1)
# df.head(5)

In [29]:
df = df.rename(columns={'Income':'income',
                   'Count_3-6_months_late':'count_3-6_months_late', 
                   'Count_6-12_months_late':'count_6-12_months_late',
                   'Count_more_than_12_months_late':'count_more_than_12_months_late'
                  })
df.head(5)

,perc_premium_paid_by_cash_credit,age_in_days,income,count_3-6_months_late,count_6-12_months_late,count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
id,,,,,,,,,,,,
110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,3300,1
41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,18000,1
31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,3300,0
19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,9600,1
99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,9600,1

In [32]:
# Various Sourcing Channels
sorted( df.sourcing_channel.unique() )

['A', 'B', 'C', 'D', 'E']

In [33]:
# Various Residencec Area Type
sorted( df.residence_area_type.unique() )

['Rural', 'Urban']

In [35]:
# Check for null values
df.isnull().sum()

perc_premium_paid_by_cash_credit       0
age_in_days                            0
income                                 0
count_3-6_months_late                 97
count_6-12_months_late                97
count_more_than_12_months_late        97
application_underwriting_score      2974
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
premium                                0
renewal                                0
dtype: int64

In [44]:
df.loc[ df['count_more_than_12_months_late'].isnull() ].head(10)

,perc_premium_paid_by_cash_credit,age_in_days,income,count_3-6_months_late,count_6-12_months_late,count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,premium,renewal
id,,,,,,,,,,,,
73099,1.0,15336,210100,NaN,NaN,NaN,NaN,2,A,Urban,9600,0
81690,1.0,7679,39040,NaN,NaN,NaN,NaN,2,A,Rural,1200,0
49862,1.0,10593,49520,NaN,NaN,NaN,NaN,2,A,Rural,1200,0
59,1.0,17891,90100,NaN,NaN,NaN,NaN,2,A,Urban,5700,1
19184,1.0,18260,40530,NaN,NaN,NaN,NaN,2,A,Rural,1200,0
74860,1.0,17535,36130,NaN,NaN,NaN,NaN,2,A,Urban,5700,0
61476,1.0,9139,90090,NaN,NaN,NaN,NaN,2,A,Urban,5400,1
52266,1.0,9501,30040,NaN,NaN,NaN,NaN,2,A,Urban,1200,0
14736,1.0,14612,216650,NaN,NaN,NaN,NaN,2,C,Rural,1200,1
18097,1.0,8409,84040,NaN,NaN,NaN,NaN,2,A,Urban,3300,1

#### Pre-processing 1 : Convert age from days to years

In [56]:
df['age_in_yrs'] = (df['age_in_days'] / 365).astype(int)
df.head()

,age_in_days,age_in_yrs,income,application_underwriting_score,premium,perc_premium_paid_by_cash_credit,no_of_premiums_paid,count_3-6_months_late,count_6-12_months_late,count_more_than_12_months_late,sourcing_channel,residence_area_type,renewal
id,,,,,,,,,,,,,
110936,12058,33,355060,99.02,3300,0.429,13,0.0,0.0,0.0,C,Urban,1
41492,21546,59,315150,99.89,18000,0.010,21,0.0,0.0,0.0,A,Urban,1
31300,17531,48,84140,98.69,3300,0.917,7,2.0,3.0,1.0,C,Rural,0
19415,15341,42,250510,99.57,9600,0.049,9,0.0,0.0,0.0,A,Urban,1
99379,31400,86,198680,99.87,9600,0.052,12,0.0,0.0,0.0,B,Urban,1

In [57]:
# rearrange columns
df = df[['age_in_days',
    'age_in_yrs',     
    'income',
    'application_underwriting_score',
    'premium',
    'perc_premium_paid_by_cash_credit',
    'no_of_premiums_paid',
    'count_3-6_months_late', 'count_6-12_months_late', 'count_more_than_12_months_late', 
    'sourcing_channel', 
    'residence_area_type',
    'renewal']]
df.head()

,age_in_days,age_in_yrs,income,application_underwriting_score,premium,perc_premium_paid_by_cash_credit,no_of_premiums_paid,count_3-6_months_late,count_6-12_months_late,count_more_than_12_months_late,sourcing_channel,residence_area_type,renewal
id,,,,,,,,,,,,,
110936,12058,33,355060,99.02,3300,0.429,13,0.0,0.0,0.0,C,Urban,1
41492,21546,59,315150,99.89,18000,0.010,21,0.0,0.0,0.0,A,Urban,1
31300,17531,48,84140,98.69,3300,0.917,7,2.0,3.0,1.0,C,Rural,0
19415,15341,42,250510,99.57,9600,0.049,9,0.0,0.0,0.0,A,Urban,1
99379,31400,86,198680,99.87,9600,0.052,12,0.0,0.0,0.0,B,Urban,1

In [59]:
# Drop column 'age_in_days'
df.drop('age_in_days', axis=1, inplace=True)
df.head()

,age_in_yrs,income,application_underwriting_score,premium,perc_premium_paid_by_cash_credit,no_of_premiums_paid,count_3-6_months_late,count_6-12_months_late,count_more_than_12_months_late,sourcing_channel,residence_area_type,renewal
id,,,,,,,,,,,,
110936,33,355060,99.02,3300,0.429,13,0.0,0.0,0.0,C,Urban,1
41492,59,315150,99.89,18000,0.010,21,0.0,0.0,0.0,A,Urban,1
31300,48,84140,98.69,3300,0.917,7,2.0,3.0,1.0,C,Rural,0
19415,42,250510,99.57,9600,0.049,9,0.0,0.0,0.0,A,Urban,1
99379,86,198680,99.87,9600,0.052,12,0.0,0.0,0.0,B,Urban,1

In [66]:
# Per Problem Statement: Underwriting Score of the applicant at the time of application 
# (No applications under the score of 90 are insured)
df[df['application_underwriting_score']<90].shape[0] == 0

True

In [101]:
def isNull(df,cols):
    mask = False
    for c in cols:
        mask = mask | (df[c].isnull())
    return mask

null_delay_pay = df.loc[ isNull(df,['count_3-6_months_late', 'count_6-12_months_late', 'count_more_than_12_months_late']) ]
# null_delay_pay

In [100]:
tmp = df.loc[ (~df['count_3-6_months_late'].isnull()) & (df['no_of_premiums_paid']<=2) ]
print(tmp['count_3-6_months_late'].median())
print(tmp['count_6-12_months_late'].median())
print(tmp['count_more_than_12_months_late'].median())

0.0
0.0
0.0

#### Pre-processing 2: Imputating delayed premium payments count columns with median value ZERO.

In [105]:
# Imputating delayed premium payments count columns with median value ZERO.
tmp = df[['count_3-6_months_late', 'count_6-12_months_late', 'count_more_than_12_months_late']].fillna(0)
df.update(tmp)
df.isnull().sum()

age_in_yrs                             0
income                                 0
application_underwriting_score      2974
premium                                0
perc_premium_paid_by_cash_credit       0
no_of_premiums_paid                    0
count_3-6_months_late                  0
count_6-12_months_late                 0
count_more_than_12_months_late         0
sourcing_channel                       0
residence_area_type                    0
renewal                                0
dtype: int64

In [108]:
print(df['application_underwriting_score'].mean())
print(df['application_underwriting_score'].median())
print(df['application_underwriting_score'].mode())

99.06729119785102
99.21
0    99.89
dtype: float64

#### Pre-processing 3: Imputating application_underwriting_score with mode (highest frequency value)

In [110]:
# Imputating application_underwriting_score with mode (highest frequency value)
df.update( df['application_underwriting_score'].fillna(99.89) ) # Filling with mode value
df.isnull().sum()

age_in_yrs                          0
income                              0
application_underwriting_score      0
premium                             0
perc_premium_paid_by_cash_credit    0
no_of_premiums_paid                 0
count_3-6_months_late               0
count_6-12_months_late              0
count_more_than_12_months_late      0
sourcing_channel                    0
residence_area_type                 0
renewal                             0
dtype: int64

In [114]:
print( sorted( df['no_of_premiums_paid'].unique() ) )

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60]

In [115]:
df.head()

,age_in_yrs,income,application_underwriting_score,premium,perc_premium_paid_by_cash_credit,no_of_premiums_paid,count_3-6_months_late,count_6-12_months_late,count_more_than_12_months_late,sourcing_channel,residence_area_type,renewal
id,,,,,,,,,,,,
110936,33,355060,99.02,3300,0.429,13,0.0,0.0,0.0,C,Urban,1
41492,59,315150,99.89,18000,0.010,21,0.0,0.0,0.0,A,Urban,1
31300,48,84140,98.69,3300,0.917,7,2.0,3.0,1.0,C,Rural,0
19415,42,250510,99.57,9600,0.049,9,0.0,0.0,0.0,A,Urban,1
99379,86,198680,99.87,9600,0.052,12,0.0,0.0,0.0,B,Urban,1

In [124]:
df = df.reset_index()
df.drop('id', axis=1, inplace=True)
df.head()

,age_in_yrs,income,application_underwriting_score,premium,perc_premium_paid_by_cash_credit,no_of_premiums_paid,count_3-6_months_late,count_6-12_months_late,count_more_than_12_months_late,sourcing_channel,residence_area_type,renewal
0,33,355060,99.02,3300,0.429,13,0.0,0.0,0.0,C,Urban,1
1,59,315150,99.89,18000,0.010,21,0.0,0.0,0.0,A,Urban,1
2,48,84140,98.69,3300,0.917,7,2.0,3.0,1.0,C,Rural,0
3,42,250510,99.57,9600,0.049,9,0.0,0.0,0.0,A,Urban,1
4,86,198680,99.87,9600,0.052,12,0.0,0.0,0.0,B,Urban,1

In [126]:
df.to_csv('data/train_processed_1.csv', index=False)

## Summary

Note the columns are re-ordered for convenience.

Renaming of columns

Following pre-procecssing activities are done as part of this deliverable/notebook
1. Convert age from days to years
2. Imputation of 3 delayed premium payments columns with its median value of Zero
3. Imputation of 'application_undedrwriting_score' with its mode/highest-frequency value of 99.89

Following columns are dropped
1. id
2. age_in_days (age_in_yrs is added instead)